{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Lista de Fornecedores {% endblock title %}


{% block content %}
    
    <div class="row" style="color: #004f2d; font-style: bold; font-size: 3rem;">
        <div class="col-md-8">Lista de Fornecedores</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn ghost-green" href="{% url 'novo-fornecedor' %}">Adicionar Novo Fornecedor</a> </div>
        </div>
    </div>

    <br>

    <table class="table table-css">
        
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="25%">Nome</th>
                <th width="20%">Telefone</th>
                <th width="25%">CNPJ</th>
                <th width="30%">Opções</th>
            </tr>
        </thead>

{% if object_list %}

        <tbody>
            {% for fornecedor in object_list %}
            <tr>
                <td>
                    <h3> <a href="{% url 'fornecedor' fornecedor.nome %}">{{ fornecedor.nome }}</a> </h3>
                </td>
                <td class="align-middle"> {{ fornecedor.telefone }} </td>
                <td class="align-middle"> {{ fornecedor.cnpj }} </td>
                <td class="align-middle">
                    <div class="align-middle">
                        <a href="{% url 'editar-fornecedor' fornecedor.pk %}" class="btn ghost-button">Editar </a>
                        <a href="{% url 'deletar-fornecedor' fornecedor.pk %}" class="btn ghost-red">Deletar </a>
                    </div>
                </td>              
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Próximo</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Anterior</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #00824A; font-style: bold; font-size: 1.5rem; text-align: center;">Lista vazia</div>

{% endif %}


{% endblock content %}